@font-face {
  font-family: 'Allura';
  src: url('../fonts/Allura-Regular.ttf') format('truetype');
}

/* Source: https://www.fontspace.com/lofty-goals-font-f76241 */
@font-face {
  font-family: 'Lofty';
  src: url('../fonts/LoftygoalsRegular.otf') format('truetype');
}

.allura-font {
  text-align: center;
  text-align-last:center;
  font-family: 'Allura', cursive;
}

.lofty-font {
  text-align: center;
  text-align-last:center;
  font-family: 'Lofty';
}

body {
  background-image: url('https://i.ibb.co/0cWkQyv/heart-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: local;
  background-size: 100% auto;
  background-color: #ececec;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 1px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border: 0px solid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35% auto;
}

.popover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.popover-container {
  max-width: 90%;
  max-height: 90%;
}

.popover-image-container {
  position: relative;
}

.popover-image {
  max-width: 100%;
  max-height: 100%;
}

.popover-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.spotify-player {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
}